.piggy-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.piggy {
  background-image: url("images/piggy.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
}

.piggy-pay {
  border-radius: 40px;
  color: #e7a793;
  width: 260px;
  border: 2px solid #e7a793;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 42px;
  background: white;
}

.piggy-balance {
  position: relative;
  text-align: center;
  font-size: 40px;
  background: #c0c0c000;
  top: -45px;
  left: 17px;
}

.piggy-coin {
  background: #ffd400;
  box-shadow: 0 0 5px #737171;
  border-radius: 100%;
  color: #9e8300;
  width: 125px;
  height: 125px;
  border: 13px dashed #e4bd00;
  font-size: 27px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
