.App {
  background: radial-gradient(#e7a7932e, #ffd8cc);
  min-height: 100vh;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-header {
  background: #ffffff82;
  position: fixed;
  width: 100%;
  padding: 20px;
  z-index: 9999999999;
}

.profile-image {
  border-radius: 100%;
}

.profile-name {
  padding: 10px;
  font-size: 17px;
}

.App-link {
  color: #09d3ac;
}

.fb-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.fb-login-button {
  background: #4267b2;
  color: white;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.d-flex .item {
  flex-basis: auto;
  margin: 20px;
}

.box-shadow-sm {
  box-shadow: 0 0 4px #e2e2e2;
}

.ant-list-items li {
  background: white;
  margin: 15px;
  border-radius: 4px;
}
